<h1>Hello MyCat</h1>

<ul>
    <% lists.map((item,index)=>{ %>
        <li type="1">
          <%= item %> 
            <img src="/images/computer/<%= item %>.<%= type[index] %>" alt="img" width="auto" height="100" />
        </li><br />

    <% }) %>
</ul>